<div class="pt-24 md:pt-36 mx-8 md:mx-16 lg:mx-24">
    <div class="max-w-4xl mx-auto mb-24 md:mb-36 ">
        <h3 class="text-xl md:text-3xl lg:text-4xl text-center font-bold mb-8">配送ポリシー</h3>
        <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold py-4">
            配送業者: ヤマト運輸、日本郵便
            お届け日数: ご注文から2 ~3 営業日
            配送送料: 全国一律送料370円(北海道・沖縄・離島を除く) 一度のご注文で、商品代金10000円以上お買い上げのお客様は送料無料になります。
        </p>
        <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold py-4">
            ・ 北海道・沖縄への配送は、通常送料に加えて、+370円となります。
        </p>
        <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold py-4">
            ・  離島の場合、中継料金が別途発生する可能性がありますので、その場合は発送前にご連絡させていただきます。
        </p>
        <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold py-4">
            ・到着から７日を超えた商品 ・中古品 ・ご注文者様とお届け先が異なる場合、不良品を除く手順は以下の通りです。 1:製品の到着から７日以内に次の情報を電子メールで送信してください。
        </p>
        <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold py-4">
            ・  場合によっては、配送業者を同等のキャリアに予告なく変更する可能性がありますので、予めご了承ください。
        </p>
    </div>
</div>