<div class="max-w-6xl mx-auto px-4 py-6">
    <h1>Animate on scroll image</h1>
    {% for block in section.blocks %}
        <p>{{ block }}</p>
    {% endfor %}
</div>

<script>
    AOS.init();
</script>

{% schema %}
{
    "name": "Animate on scroll image",
    "settings": [
        {
            "type": "text",
            "id":"title",
            "default":"Title",
            "label":"Title"
        },
        {
            "type": "textarea",
            "id":"desctiption",
            "default":"Description",
            "label":"Description"
        }
    ],
    "blocks": [
        {
            "type": "image_picker",
            "name": "image",
            "limit": 5
        }
    ],
    "presets": [
        {
            "name": "Animate on scroll image"
        }
    ]
}
{% endschema %}