<div class="w-full h-full fixed inset-0 -z-50">
    <div class="flex flex-cols-1 gap-4 px-3 space-y-2">
        {% for block in section.blocks %}
            <div class="w-full h-full relative">
                <img
                    src="{{ block.settings.bg_image | img_url: "large" }}"
                    alt="{{ block.settings.bg_image.alt }}"
                    width="{{ block.settings.bg_image.width }}"
                    height="{{ block.settings.bg_image.height }}"
                    loading="lazy"
                    class="w-full h-full object-cover object-center"
                >
            </div>
        {% endfor %}
    </div>
</div>

{% schema %}
{
    "name":"Background Images",
    "blocks": [
        {
            "type": "image_picker",
            "name": "Bacckground Images",
            "limit":"6",
            "settings": [
                {
                    "type":"image_picker",
                    "id":"bg_image",
                    "label":"Backgroung Image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Background Images"
        }
    ]
}
{% endschema %}