<div class="w-full h-full fixed inset-0 -z-50">
    <div class="w-full h-full relative">
        <img
            src="{{ section.settings.bg_image | img_url: "large" }}"
            alt="{{ section.settings.bg_image.alt }}"
            width="{{ section.settings.bg_image.width }}"
            height="{{ section.settings.bg_image.height }}"
            loading="lazy"
            class="w-full h-full object-cover object-center"
        >
    </div>
</div>

{% schema %}
{
    "name":"Background Image",
    "blocks": [
        {
            "type": "image_picker",
            "name": "Bacckground Images",
            "limit":"6",
            "settings": [
                {
                    "type":"image_picker",
                    "id":"bg_image",
                    "label":"Backgroung Image"
                }
            ],
        }
    ],
    "presets": [
        {
            "name": "Background Image"
        }
    ]
}
{% endschema %}