<div class ="relative w-full h-[350px] md:h-[700px] -z-10">
    <video id="video" poster="画像URL" webkit-playsinline playsinline muted autoplay loop>
    <source src="動画URL" type="video/mp4">
    </video>
    <div class="coverTop">
    </div>
    <h2>TITLE</h2>
</div>