<div class ="relative h-[350px] md:h-[700px] w-full -z-10">
    <video class="overflow-hidden absolute inset-0 -z-10" id="video" poster="https://cdn.shopify.com/s/files/1/0606/5838/5110/files/7beb895d584d1cb23ccc86cd9ad9d7bf_00b1d3a4-596a-4e85-8253-2761084b6311.jpg?v=1654256978" webkit-playsinline playsinline muted autoplay loop>
    <source src="https://cdn.shopify.com/videos/c/o/v/9038ee4437814c3cabcb2d69999af354.mp4" type="video/mp4">
    </video>
    <div class="absolute inset-0 z-0 bg-black bg-opacity-60">
    </div>
    <h2>TITLE</h2>
</div>

{% schema %}
{
    "presets": [
        {
            "name": "Background Movie"
        }
    ]
}
{% endschema %}