
<div class="absolute top-0 left-0 w-screen h-screen">
    <video
    src="{{ "https://youtu.be/cVu8klm6ygI" | external_video_url: color: "white" | external_video_tag }}"
    muted="true"
    autoplay="true"
    loop="true"
    playsinline="true"
    class="h-full w-full bg-cover bg-center"
    >
    </video>
</div>


{% schema %}
{
    "name": "Background Video Player",
    "settings": [
        {
            "type":"url",
            "id":"video_url",
            "label": "Video Url"
        }
    ],
    "presets": [
        {
            "name":"Background Video Player"
        }
    ]
}
{% endschema %}