<div class ="visual">
    <video id="video" poster="画像URL" webkit-playsinline playsinline muted autoplay loop>
    <source src="動画URL" type="video/mp4">
    </video>
    <div class="coverTop">
    </div>
    <h2>TITLE</h2>
</div>