<div class="relative max-w-6xl mx-auto px-3">
    <div class="absolute top-0 left-0 w-screen h-screen">
        <video
        src="{{ section.settings.video_url }}"
        muted="true"
        autoplay="true"
        loop="true"
        playsinline="true"
        class="h-full w-full bg-cover bg-center"
        >
        </video>
    </div>
</div>

{% schema %}
{
    "name": "Background Video Player",
    "settings": [
        {
            "type":"url",
            "id":"video_url",
            "label": "Video Url"
        }
    ],
    "presets": [
        {
            "name":"Background Video Player"
        }
    ]
}
{% endschema %}