<style>
    h3 {
  /* margin: 20px; */
  font-family: "Paytone One";
  color: #202020;
  text-transform: uppercase;
  letter-spacing: -2px;
}
</style>
<div class ="relative h-[550px] md:h-[900px] xl:h-[860px] w-full -z-10">
    <video class="overflow-hidden absolute inset-0 -z-10 object-cover h-[550px] md:h-[900px] xl:h-[860px] w-full" id="video" poster={{ section.settigns.image_url }} webkit-playsinline playsinline muted autoplay loop>
    <source src={{ section.settings.movie_url }} type="video/mp4">
    </video>
    <div class="absolute inset-0 z-0 bg-black bg-opacity-50">
    </div>
    <div class="absolute inset-0 translate-x-1/2 w-80 h-80 md:h-[400px] md:w-[400px] translate-y-1/2">
        <div class="absolute bg-green-500 -translate-x-1/4 -translate-y-1/4 w-80 h-80 md:h-[400px] md:w-[400px]">
            <h3 class="uppercase text-bold font-noto_serif_jp_bold text-4xl text-white">{{ section.settings.title }}</h3>
            <p class=" font-noto_serif_jp_bold text-2xl  flex-wrap text-white">{{ section.settings.description }}</p>
        </div>
    </div>
</div>
f
{% schema %}
{
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "TITLE",
            "label": "タイトル"
        },
        {
            "type": "text",
            "id": "description",
            "default": "Description",
            "label": "デスクリプション"
        },
        {
            "type": "text",
            "id": "image_url",
            "default": "https://cdn.shopify.com/s/files/1/0606/5838/5110/files/7beb895d584d1cb23ccc86cd9ad9d7bf_00b1d3a4-596a-4e85-8253-2761084b6311.jpg?v=1654256978",
            "label": "動画ローディング画像URL"
        },
        {
            "type": "text",
            "id": "movie_url",
            "default": "https://cdn.shopify.com/videos/c/o/v/9038ee4437814c3cabcb2d69999af354.mp4",
            "label": "動画URL"
        }
    ],
    "presets": [
        {
            "name": "Background Movie"
        }
    ]
}
{% endschema %}