
    <div class="w-screen h-screen absolute inset-0 -z-50">
        {% for block in section.blocks %}
            <div class="bg-cover bg-center" style="background-image: url('https://cdn.shopify.com/s/files/1/0606/5838/5110/files/bg_1.jpg?v=1651314566');"></div>
        {% endfor %}

    </div>
    <!-- {% for block in section.blocks %}
    <div class="w-full h-full  relative">
        <img src="{{ block.settings.bg_image | img_url: 'origina' }}" alt="{{ block.settings.bg_image.alt }}"
            width="{{ block.settings.bg_image.width }}" height="{{ block.settings.bg_image.height }}" loading="lazy"
            class="w-full h-full object-cover object-center">
    </div>
    {% endfor %} -->

{% schema %}
{
"name":"Background Images",
"blocks": [
{
"type": "image_picker",
"name": "Bacckground Images",
"limit": 6,
"settings": [
{
"type":"image_picker",
"id":"bg_image",
"label":"Backgroung Image"
}
]
}
],
"presets": [
{
"name": "Background Images"
}
]
}
{% endschema %}