
<div class="flex flex-col items-center my-8">
    {% form 'contact' %}
        {% if form.errors %}
        <!-- ERROR SEND COMMENTS -->
        <div class="border p-5">
            <div class="flex flex-row items-center w-full my-3">
                <div>
                    <div class="flex">
                        <div class="text-red-500">
                            {% render "icon-error" %}
                        </div>
                        <div class="text-sm font-medium ml-3">
                            Oh no! your message was not posted...
                        </div>
                    </div>
                    <ul class="px-4 mb-3 ml-7 list-decimal">
                        {% for error in form.errors %}
                            <li>
                                <span>{{ form.errors.messages[error] }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% elsif form.posted_successfully? %}
        <!-- SUCCESS SEND COMMENTS -->
            <div class="flex flex-row items-center w-full my-3 p-5">
                <div class="text-green-500">
                    {% render "icon-success" %}
                </div>
                <div class="text-sm md:text-lg ml-3">メッセージの送信に成功しました。</div>
            </div>
        {% endif %}
        <div class="max-w-6xl mx-auto justify-between flex items-center px-4">
            <div class="px-3 md:w-1/2">
                <div class="flex items-center space-x-2 mb-1">
                    <label class="uppercase text-sm text-gray-500 font-noto_serif_jp_bold" for="contact_type">お問合せ内容</label>
                    <div class="rounded-full bg-white border-2 border-red-500">
                        <span class="text-red-500 font-bold text-center text-xs px-1.5 py-0.5 md:px-3 md:py-1.5 ">必須</span>
                    </div>
                </div>
                <select class="block border px-3 py-2 mb-3 text-gray-700 w-full focus:outline-none" name="contact[type]" id="contact_type" required>
                    <option value>選択してください。</option>
                    <option value="商品について">商品について</option></option>
                    <option value="卸売りについて">卸売りについて</option>
                    <option value="その他">その他</option>
                </select>
            </div>
            <div class="px-3 md:w-1/2">
                <div class="flex items-center space-x-2 mb-1">
                    <label class="uppercase text-sm text-gray-500 font-noto_serif_jp_bold" for="contact_type">電話番号</label>
                    <div class="rounded-full bg-white border-2 border-red-500">
                        <span class="text-red-500 font-bold text-center text-xs px-1.5 py-0.5 md:px-3 md:py-1.5 ">必須</span>
                    </div>
                </div>
                <input class="border px-1.5 py-0.5 md:px-3 md:py-1.5  mb-3 text-gray-700 w-full focus:outline-none" type="text" name="contact[phone]" id="contact_phone" placeholder="09012345678">
            </div>
        </div>
        <div class="max-w-6xl mx-auto justify-center flex items-center px-4">
            <div class="flex px-1 mb-3">
                <div class="px-3 md:w-1/2">
                    <div class="flex items-center space-x-2 mb-1">
                        <label class="uppercase text-sm text-gray-500 font-noto_serif_jp_bold" for="contact_type">名前</label>
                        <div class="rounded-full bg-white border-2 border-red-500">
                            <span class="text-red-500 font-bold text-center text-xs px-1.5 py-0.5 md:px-3 md:py-1.5 ">必須</span>
                        </div>
                    </div>
                    <input class="border px-3 py-2 mb-3 text-gray-700 w-full focus:outline-none" type="text" name="contact[name]" id="contact_name" placeholder="山田 太郎">
                </div>
                <div class="px-3 md:w-1/2">
                    <div class="flex items-center space-x-2 mb-1">
                        <label class="uppercase text-sm text-gray-500 font-noto_serif_jp_bold" for="contact_type">メール</label>
                        <div class="rounded-full bg-white border-2 border-red-500">
                            <span class="text-red-500 font-bold text-center text-xs px-1.5 py-0.5 md:px-3 md:py-1.5 ">必須</span>
                        </div>
                    </div>
                    <input class="border px-3 py-2 mb-3 text-gray-700 w-full focus:outline-none" type="email" name="contact[email]" id="contact_email" placeholder="sample@email.com">
                </div>
            </div>
        </div>
        <div class="flex px-4">
            <div class="flex flex-col w-full px-4">
                <label class="text-xs text-gray-500 uppercase font-noto_serif_jp_bold mb-1" for="contact_message">お問合せ内容</label>
                <textarea class="border px-2 resize-none focus:outline-none" name="contact[body]" id="contact_message" rows="7"></textarea>
            </div>
        </div>
        <div class="flex px-4 mt-6">
            <div class="px-4 w-full">
                <button type="submit" class="border-2 w-full h-12 bg-gray-700 transform duration-300 ease-in-out text-white text-lg hover:bg-white hover:text-gray-700">
                    送信
                </button>
            </div>
        </div>
    {% endform %}
</div>

{% schema %}
{
    "name": "Contact Form",
    "presets": [
        {
            "name": "Contact Form"
        }
    ]
}
{% endschema %}