< class="flex flex-col items-center my-8">
    {% form 'contact' %}
        <div class="max-w-6xl mx-auto justify-center flex items-center px-4">
            <div class="flex px-1 mb-3">
                <div class="px-3 md:w-1/2">
                    <label class="uppercase text-xs text-gray-500 font-medium" for="contact_name">Name</label>
                    <input class="border px-4 mb-3 text-gray-700 w-full" type="text" name="contact[name]" id="contact_name">
                </div>
                <div class="px-3 md:w-1/2">
                    <label class="uppercase text-xs text-gray-500 font-medium" for="contact_email">Email</label>
                    <input class="border px-4 mb-3 text-gray-700 w-full" type="email" name="contact[email]" id="contact_email">
                </div>
            </div>
        </div>
        <div class="max-w-6xl mx-auto justify-center items-center flex px-4">
            <div class="px-1 mb-3 w-1/2">
                <div class="px-4 flex flex-col">
                    <label class="text-xs text-gray-500 uppercase" for="contact_message">Message</label>
                    <textarea class="resize-none" name="contact[body]" id="contact_message" rows="7" resize="horizontal"></textarea>
                </div>
            </div>
        </div>
        < class="max-w-6xl mx-auto justify-center items-center flex px-4">
           
                <button type="submit" class="bg-red-400 my-2 w-1/2 ">
                    送信
                </button>
            
        </div>

    {% endform %}
</div>

{% schema %}
{
    "name": "Contact Form",
    "presets": [
        {
            "name": "Contact Form"
        }
    ]
}
{% endschema %}