<div class="mx-8 my-6 ">
    <div class="max-w-5xl mx-auto">
        <h3>BLOG</h3>
    </div>
</div>

{% schema %}
{
    "name": "Feature Blog",
    "settings": [
    {
        "type": "blog",
        "id": "blog",
        "label": "t:sections.featured-blog.settings.blog.label"
      },
    ],
    "presets": [
        {
            "name": "Blog Contents"
        }
    ]
}
{% endschema %}