<div class="mx-8 my-6 ">
    <div class="max-w-5xl mx-auto">
        <h3>BLOG</h3>
    </div>
</div>

{% schema %}
{
    "presets": [
        {
            "name": "Feature Blog"
        }
    ]
}
{% endschema %}