<div class="fixed bottom-2 right-2 z-30">
    <div class="rounded-md shadow-md">
        <a href="https://lin.ee/31HZrZP" target="_blank">
            <div class="bg-green-500 rounded-md shadow-md px-3 py-1">
                <p class="text-xl text-center font-bold text-white">LINE追加で<span class="text-3xl">200円</span>OFF</p>
                <div class="h-0.5 w-full bg-white"></div>
                <p class="text-base text-center font-bold text-white">質問・お問合せ受付中</p>
            </div>
        </a>
    </div>
</div> 

{% schema %}
{
    "presets": [
        {
            "name": "Fixed Banner"
        }
    ]
}
{% endschema %}