<div class="fixed inset-0 z-30 bg-opacity-50 bg-gray-400">
    <div class="bg-red-400">

    </div>

</div>

{% schema %}
{
    "presets": [
        {
            "name": "Fixed Banner"
        }
    ]
}
{% endschema %}