<div class="fixed inset-0 z-30 bg-opacity-50 bg-gray-400">
    <div class="relative">
        <div class="absolute right-0 bottom-0 bg-red-500 w-12 h-12"></div>

    </div>

</div>

{% schema %}
{
    "presets": [
        {
            "name": "Fixed Banner"
        }
    ]
}
{% endschema %}