<div class="fixed bottom-2 right-2 z-30">
    <div class="rounded-md shadow-md">
        <a href={{ section.settings.url }} target="_blank">
            <div class="bg-green-500 rounded-md shadow-md px-3 py-1">
                <p class="text-base text-center font-bold text-white">{{ section.settings.title }}<span class="text-xl">{{ section.settings.price }}</span>OFF</p>
                <div class="h-0.5 w-full bg-white"></div>
                <p class="text-sm text-center text-white">{{ section.settings.price }}</p>
            </div>
        </a>
    </div>
</div> 

{% schema %}
{
    "name": "Fiexd Banner",
    "settings": [
        {
            "type":"text",
            "id": "title",
            "default": "LINE追加で",
            "label": "URL"
        },
        {
            "type":"text",
            "id": "price",
            "default": "200円",
            "label": "割引金額"
        },
        {
            "type":"text",
            "id": "text",
            "default": "質問・お問合せ受付中",
            "label": "テキスト"
        },
        {
            "type":"text",
            "id": "url",
            "default": "https://wealthy-store.com",
            "label": "URL"
        }
    ],
    "presets": [
        {
            "name": "Fixed Banner"
        }
    ]
}
{% endschema %}