<div class="max-w-6xl mx-auto p-3">
    <div class="h-80 md:h-100 overflow-hideen">
        <img
            loading="lazy"
            class="w-full h-full object-cover transfrom ease-out duration-500 scale-100 hover:scale-105"
            src="{{ section.settings.swiper_image | img_url: 'large' }}"
            alt="{{ section.settings.swiper_image.alt }}"
            height="{{ section.settings.swiper_image.height }}"
            width="{{ section.settings.swiper_image.width }}"
        >
    </div>
</div>

{% schema %}
{
    "name": "Image Swiper",
    "settings": [
        {
            "type": "image_picker",
            "id": "swiper_image",
            "label": "Swipe Image"
        }
    ],
    "presets": [
        { "name": "Swiper Image"}
    ]
}
{% endschema %}