<div class="max-w-6xl mx-auto p-3">
    <img src="{{ section.settings.swiper_image }}" alt="">
</div>

{% schema %}
{
    "name": "Image Swiper",
    "settings": [
        {
            "type": "image_picker",
            "id": "swiper_image",
            "default": "",
            "label": "Swipe Image"
        }
    ]
}
{% endschema %}