<div class="max-w-6xl mx-auto p-3">
    <img src="{{  }}" alt="">
</div>

{% schema %}
{
    "name": "Image Swiper",
    "settings": {
        "type": "image_picker",
        "id": "image_swiper",
        "default": "",
        "label": ""
    }
}
{% endschema %}