
<!-- swiper.js CDN -->
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>


<div class="max-w-6xl mx-auto px-6 py-2">
    <h1 class="text-gray-700 font-medium text-sm">{{ section.settings.title }}</h1>
</div>


{% schema %}
{
    "name": "Image Swiper",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Hello World",
            "label": "Title"
        }
    ],
    "presets": [
        {
            "name": "Swiper Title"
        }
    ]
}
{% endschema %}