<div class="pt-24 md:pt-36 mx-8 md:mx-16 lg:mx-24">
    <div class="max-w-4xl mx-auto mb-24 md:mb-36 ">
        <h3 class="text-xl md:text-3xl lg:text-4xl text-center font-bold mb-8">特定商取引法に基づく表記</h3>
        <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold pt-8">販売業者:  Wealthy Store</p>
        <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold ">代表責任者:  酒井専冴</p>
        <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold ">所在地:  兵庫県丹波篠山市今田町下小野原59-45</p>
        <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold ">電話番号:  090-9282-6180</p>
        <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold pb-8">メールアドレス:  customer@wealthy-store.com</p>
        <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold py-6">
            販売価格: 商品ページに表示された金額(税込) 商品代金以外の必要料金:送料: 日本国内一律送料370円(税込)※沖縄・北海道への配送は、740円 代引手数料: 330円(税込)銀行振込手数料: 金融機関によって異なります
        </p>
        <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold py-6">
            支払方法および支払の時期:クレジットカード: ご利用のクレジットカード会社のご請求時
            Google Pay/Apple Pay/Amazon Pay/PayPal: 各アカウントにご登録の各クレジット会社のご請求時 代金引換: 商品受取時
            携帯キャリア決済: ご契約のキャリアの携帯電話料金のお支払時に合算
            銀行振込: ご注文完了後
            あと払い(ペイディ): コンビニ払い及び銀行振込の場合は10日まで・口座振替の場合は12日に引き落し 商品の引渡時期: ご注文から3〜4営業日
            商品の引渡方法: お自宅まで配送
            返品・不良品・キャンセルについて: 返品交換をご希望される場合は、予めメール又はお電話にてご連絡下さい。 以下の場合の返品交換は、お受けいたしかねます。
        </p>
        
    </div>
</div>