<div class="px-8 mt-2">
    <div class="max-w-md mx-auto justify-center items-center flex py-3 rounded-md bg-green-500 ">
        <span class="text-xl text-white">Line<span class="text-sm text-gray-500">で問い合わせる</span></span>
    </div>
</div>
