<div class="px-8">
    <div class="max-w-md mx-auto justify-center items-center flex py-3rounded-md bg-green-500 ">
        <span class="text-xl text-white">Line<span class="text-sm text-gray-700">で問い合わせる</span></span>
    </div>
</div>
