<div class="px-8">
    <div class="max-w-lg mx-auto justify-center items-center flex my-12 rounded-md bg-green-500 px-8">
        <span class="text-xl text-white">Line<span class="text-sm text-gray-700">で問い合わせる</span></span>
    </div>
</div>
