<div class="my-8 md:my-12">
   <a href="https://lin.ee/31HZrZP">
        <div class="max-w-md mx-auto justify-center items-center flex rounded-md bg-green-500 px-3 py-1.5 transform duration-400 ease-in-out hover:scale-105">
            <span class="text-3xl text-white font-bold">Line<span class="text-sm text-gray-700 font-zen_maru_gothic">で問い合わせる</span></span>
        </div>  
    </a>
</div>
