<div class="mx-8 py-12 md:py-24">
   <a href="https://lin.ee/31HZrZP">
        <div class="max-w-sm mx-auto border-2 border-white ring-2 ring-green-500 justify-center items-center flex rounded-md shadow-md bg-green-500 px-3 py-1.5 transform duration-300 ease-in-out hover:scale-105">
            <span class="text-3xl text-white font-bold">Line<span class="text-sm text-gray-700 font-noto_sans_jp_bold">で問い合わせる</span></span>
        </div>  
    </a>
</div>
