<div class="max-w-6xl mx-auto justify-center items-center flex px-4 my-12 border w-auto">
    <span class="text-xl text-green-500">Line<span class="text-sm text-gray-700">で問い合わせる</span></span>
</div>
