
<div class="pt-24 md:pt-36 lg:pt-48 mx-8">
    <div class="max-w-6xl mx-auto">
        <h3 class="text-xl text-center font-bold">プライバシーポリシー</h3>
        <p class="text-sm text-gray-700 font-bold">WealthyStore(以下「当ショップ」といいます。)は、お客様の個人情報保護の重要性について認 識し、個人情報の保護に関する法律(以下「個人情報保護法」といいます。)を遵守すると共に、以下のプ ライバシーポリシー(以下「本プライバシーポリシー」といいます。)に従い、適切な取扱い及び保護に努め ます。</p>
    </div>
</div>