
<div class="pt-24 md:pt-36 lg:pt-48 mx-8">
    <div class="max-w-6xl mx-auto">
        <h3 class="text-xl text-center font-bold">プライバシーポリシー</h3>
        <p class="text-sm text-gray-700 font-bold py-4">WealthyStore(以下「当ショップ」といいます。)は、お客様の個人情報保護の重要性について認 識し、個人情報の保護に関する法律(以下「個人情報保護法」といいます。)を遵守すると共に、以下のプ ライバシーポリシー(以下「本プライバシーポリシー」といいます。)に従い、適切な取扱い及び保護に努め ます。</p>
        <p class="text-base font-bold pb-3">1. 個人情報の定義</p>
        <p class="text-sm text-gray-700 font-bold">本プライバシーポリシーにおいて、個人情報とは、個人情報保護法第2条第1項により定義された個人情 報、すなわち、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述 等により特定の個人を識別することができるもの(他の情報と容易に照合することができ、それにより特 定の個人を識別することができることとなるものを含みます。)、もしくは個人識別符号が含まれる情報を 意味するものとします。</p>

    </div>
</div>