<div class="flex flex-col items-center my-8">
    
</div>

{% schema %}
{
    "name": "Shipping Detaill",
    "presets": [
        {
            "name": "Shiping Detail"
        }
    ]
}
{% endschema %}