<div class="max-w-6xl mx-auto px-4">
    <div class="flex flex-col items-center my-8 font-zen_maru_gothic">
        <h3 class="text-2xl font-bold w-full">{{ section.settings.title }}</h3>
        <div class="w-full my-3">
            <p class="w-full text-lg font-medium">{{ section.settings.description }}</p>
            <p class="w-full text-lg font-medium underline"><a href="/policies/refund-policy">返品について</a></p>
        </div>
        <div class="w-full my-4 space-y-2">
            <p class="w-full text-lg font-medium">通常配達：10000円以下　一律550円</p>
            <p class="w-full text-lg font-medium">　　　　　10000円以上　送料無料</p>
            <p class="w-full text-lg font-medium">離島配達　10000円以下　一律1020円</p>
            <p class="w-full text-lg font-medium">　　　　　15000円以上　送料無料</p>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Shipping Detaill",
    "settings": [
        {
            "type":"textarea",
            "id":"description",
            "default":"Default Message",
            "label":"Shipping Message"
        },
        {
            "type":"text",
            "id":"title",
            "default":"Default title",
            "label":"Shipping Message"
        }
    ],
    "presets": [
        {
            "name": "Shiping Detail"
        }
    ]
}
{% endschema %}