
<div class="max-w-6xl mx-auto justify-center items-center flex px-4 my-12">
    <h1 class="text-xl text-gray-700  font-medium">{{ page.title }}</h1>
    <h5 class="text-green-700 text-lg font-medium">Line<span>でお問合せ</span></h5>
</div>
