<div class="h-16 md:h-32 xl:h-32"></div>
<div class="mx-8 my-8 md:my-12 xl:my-16">
    <div class="max-w-5xl mx-auto pt-8">
        <h1 class="text-center text-2xl md:text-3xl xl:text-5xl">{{ page.title }}</h1>
    </div>
</div>