<div class="h-full flex items-start justify-center py-12 px-6 md:px-4 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <!-- REGISTER FORM -->
        <div>
            <h1 class="text-center text2xl md:text-4xl font-noto_serif_jp_bold mt-6">アカウント登録</h1>
            <div class="mt-8">
                {% form 'create_customer' %}
                    {% if form.errors %}
                        <div class="relative border-2 border-red-700 bg-red-200 px-4 py-3" role="alert">
                            <strong class="font-bold">エラー!!</strong>
                            <p class="block sm:inline">{{ form.errors | default_errors }}</p>
                        </div>
                    {% endif %}
                    <div class="my-2">
                        <label for="first_name" class="text-xs text-gray-500">名</label>
                        <input
                            type="text"
                            name="customer[first_name]"
                            id="first_name"
                            autocomplete="given-name"
                            class="relative block w-full px-3 py-2 border focus:outline-none"
                            placeholder="First Name"
                        >
                    </div>
                    <div class="my-2">
                        <label for="last_name">姓</label>
                        <input
                            type="text"
                            name="customer[last_name]"
                            id="last_name"
                            autocomplete="family-name"
                            class="relative block w-full px-3 py-2 border focus:outline-none"
                            placeholder="Last Name"
                        >
                    </div>
                    <div class="my-2">
                        {%- comment -%}カスタムフィールド追加できる{%- endcomment -%}
                        <label for="phone">電話番号</label>
                        <input
                            type="tel"
                            name="customer[note][phone]"
                            id="phone"
                            class="relative block w-full px-3 py-2 border focus:outline-none"
                            placeholder="Phone Number"
                        >
                    </div>
                    <div class="my-2 w-full">
                        {%- comment -%}カスタムフィールド追加できる{%- endcomment -%}
                        <label class="block">
                            生年月日
                            <input
                                type="date"
                                name="customer[note][Birthday]"
                                class="relative block w-full px-3 py-2 border focus:outline-none">
                        </label>
                        <!-- <label class="text-sm font-oswald text-grqy-600" for="birthday">Birthday</label>
                        <input
                            type="date"
                            name="customer[note][Birthday]"
                            placeholder="Birthday"
                            id="birthday"
                            class="relative block w-full px-3 py-2 border focus:outline-none"
                            value="生年月日"
                        > -->
                    </div>
                    <div class="my-2">
                        <label for="email_address">メールアドレス</label>
                        <input
                            type="email"
                            name="customer[email]"
                            id="email_address"
                            autocomplete="email"
                            class="relative block w-full px-3 py-2 border focus:outline-none"
                            placeholder="Email address"
                        >
                    </div>
                    <div class="my-2">
                        <label for="password">パスワード</label>
                        <input
                            type="password"
                            name="customer[password]"
                            id="password"
                            autocomplete="new-password"
                            class="relative block w-full px-3 py-2 border focus:outline-none"
                            placeholder="Password"
                        >
                    </div>
                    <div>
                        <button type="submit" class="relative w-full py-2 px-4 text-sm font-medium font-zen_maru_gothic text-white bg-gray-600 hover:gray-900">
                            アカウント作成
                        </button>
                    </div>
                {% endform %}
            </div>
        </div>
    </div>
</div>