
<div class="mt-42">
    {% paginate search.results by 3 %}
    {% for item in search.results %}
        {% case item.object_type %}
            {% when 'product' %}
                {% render 'product-card', product: item %}
            {% else %}
        {% endcase %}
    {% endfor %}
    {% render "pagination", pagination: paginate %}
{% endpaginate %}

</div>