{% paginate search.results by 12 %}
<div class="grid grid-cols-3 gap-3">
    {% for item in search.results %}
    {% case item.object_type %}
    {% when 'product' %}

    {% render 'product-card', product: item %}

    {% else %}
    {% endcase %}
    {% endfor %}
</div>
{% endpaginate %}