{% paginate collection.products by 6 %}
    {% for product in collection.products %}
        <a href="{{ product.url }}">{{ product.title }}</a>
    {% else %}
        <p>このコレクションの中に、現在商品はありません。。。</p>
    {% endfor %}
    {% render "pagination", pagination: paginate %}
{% endpaginate %}