
<div class="container mx-auto">
        {% paginate search.results by 10 %}
        <h1 class="text-xl my-4 tex-gray-700 text-center">検索結果</h1>
        <div class="flex justify-center items-center">
            <form class="border" action="{{ routes.search_url }}" method="get">
                <input class="px-2 focus:outline-none"  type="search" name="q" placeholder="Search" value="{{ search.terms | escape }}">
                <button type="submit" class="bg-gray-900 hover:bg-gray-700 text-white border px-4">Search</button>
            </form>
        </div>
        {% if search.performed %}
            {% if search.results.size > 0 %}
            <div class="max-w-6xl mx-auto">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
                    {% for item in search.results %}
                    {% case item.object_type %}
                        {% when 'product' %}
                            {% render 'product-card', product: item %}
                        {% else %}
                    {% endcase %}
                {% endfor %}
                </div>
            </div>
            {% else %}
                <div class="text-center my-4">
                    <p>No Results found for the search term ** {{ search.terms }} ** . Try to use a different keyword.</p>
                </div>
            {% endif %}
        {% endif %}
        {% render "pagination", pagination: paginate %}
        {% endpaginate %}
</div>