<div class="flex justify-center">
    <div>
        <h2 class="text-2xl text-gray-900 font-bold">{{ "general.404.title" | t }}</h2>
    <br>
    <p class="text-base text-gray-500 font-normal">{{ "general.404.subtext_html" | t }}</p>
    </div>
</div>