<div class="flex justify-center pt-24">
    <div class="relative p-4">
        <h1 class="text-xl text-gray-900 font-bold">{{ section.settings.title }}</h1>
        <p class="text-sm text-gray-700 font-thin">{{ section.settings.subtext_title }}</p>
        <div class="pt-8 flex justify-center">
            <div class="bg-green-500 hover:bg-green-700 rounded-sm shadow-md ring-1 py-1 ring-blue-200 w-2/3">
                <a href="/" class="text-white text-sm">HOMEへ戻る</a></a>
            </div>
        </div>
        {% if section.settings.show_banner %}
            <div class="flex justify-center">
                <div class="fixed bottom-4 right-4">
                    {% if section.settings.banner_link %}
                            {% assign shop_url = shop.secure_url %}
                        {% else %}
                            {% assign shop_url = section.settings.banner_link %}
                        {% endif %}
                    <div class="bg-yellow-50 ring-2 ring-red-500 shadow-lg rounded-lg py-2 px-3 mx-2">
                        <a class="text-gray-700 text-sm" href="{{ shop_url }}">
                            <span class="text-lg text-green-500 font-bold">LINE</span>登録で<span class="text-lg text-red-500 font-bold">200円OFF</span>クーポンをプレゼント!!お問合せも受け付けていますのでお気軽にどうぞ!!
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>


{% schema %}
{
    "name":"Template 404",
    "tag":"section",
    "class": "flex justify-center text-center py-7 h-screen",
    "settings": [
        {
            "type":"text",
            "id":"title",
            "default":"404 エラー",
            "label":"404 Heading Title"
        },
        {
            "type":"text",
            "id":"subtext_title",
            "default":"お探しのURLのページは見つかりませんでした...",
            "label":"404 Subtext Title"
        },
        {
            "type": "checkbox",
            "id": "show_banner",
            "default": true,
            "label": "Show Banner"
        },
        {
            "type":"text",
            "id":"banner_text",
            "default":"バナーテキスト",
            "label":"Banner Text"
        },
        {
            "type":"text",
            "id":"banner_link",
            "default":"https://google.com",
            "label":"Banner Link"
        }
    ]
}
{% endschema %}