<div class="flex justify-center pt-24">
    <div class="relative p-4">
        <h1 class="text-xl text-gray-900 font-bold">{{ "general.404.title" | t }}</h1>
        <p class="text-sm text-gray-700 font-thin">{{ "general.404.subtext_html" | t }}</p>
        <div class="pt-8 flex justify-center">
            <div class="bg-green-500 hover:bg-green-700 rounded-sm shadow-md ring-1 py-1 ring-blue-200 w-2/3">
                <a href="/" class="text-white text-sm">{{ "general.accessibility.backhome_text" | t }}</a></a>
            </div>
        </div>
    </div>
</div>