<div class="h-12 md:h-20"></div>
<div class="pt-24 md:pt-36 mx-8 md:mx-16 lg:mx-24">
    <div class="max-w-4xl mx-auto mb-24 md:mb-36 ">
        <h3 class="text-xl md:text-3xl lg:text-4xl text-center font-bold mb-8">利用規約</h3>
        <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold pt-4">このWebサイトは、WealthyStoreによって運営されています。サイト全体で、「私たち」という用語 は、WealthyStoreを指します。WealthyStoreは、このサイトから提供されるすべての情報、 ツール、サービスを含め、このWebサイトを提供しています。ユーザーは、ここに記載されているすべての 条件、ポリシー、および通知に同意することを条件とします。</p>
        <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold ">当社のサイトにアクセスしたり、当社から何かを購入したりすることにより、お客様は当社の「サービス」に 従事し、以下の利用規約(「サービス条件」、「規約」)に拘束されることに同意します。これには、本サイト で参照されている、またはハイパーリンクで利用可能な追加の条件および方針が含まれます。本利用規 約は、本サイトのすべてのユーザーに適用されます。</p>
        <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold ">当社のウェブサイトにアクセスまたは利用する前に、本利用規約をよくお読みください。本サイトのいずれ かの部分にアクセスまたは使用することにより、お客様は本利用規約に拘束されることに同意したことに なります。本利用規約のすべての条項に同意されない場合は、ウェブサイトにアクセスしたり、いかなる サービスも利用することはできません。本サービス条件が申し出とみなされる場合、受け入れは本サービ ス条件に明示的に限定されます。</p>
        <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold pb-4">現在のストアに追加される新機能やツールにも利用規約が適用されるものとします。 利用規約の最新版 は、このページでいつでも確認することができます。 当社は、本利用規約の更新および/または変更を当 社のウェブサイトに掲載することにより、本利用規約の一部を更新、変更または置換する権利を留保しま す。 このページを定期的にチェックして変更を確認するのはお客様の責任です。 変更の掲載後、お客様 が継続して本ウェブサイトを利用またはアクセスされた場合、それらの変更を受諾されたものとします。私たちのストアはShopify Inc.でホストされています。彼らは、私たちが製品やサービスをお客様に販売 するためのオンラインEコマースプラットフォームを提供しています。</p>
        <div class="my-4">
            <p class="text-base md:text-xl lg:text-2xl font-bold pb-3">1. オンラインストアの利用規約</p>
            <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold">本利用規約に同意することにより、お客様は、居住する都道府県または地域において少なくとも成人年齢 に達していること、または居住する都道府県または地域において成人年齢に達しており、お客様の未成 年の扶養家族が本サイトを利用することに同意していることを表明します。お客様は、違法または未承認の目的で当社製品を使用することはできません。また、お客様は、本サー ビスの使用において、お客様の管轄区域の法律(著作権法を含むがこれに限定されない)に違反するこ とはできません。お客様は、ワーム、ウィルス、または破壊的性質のコードを送信してはなりません。 本規約のいずれかの違反または違反があった場合、お客様のサービスは直ちに終了します。</p>
        </div>
        <div class="my-4">
            <p class="text-base md:text-xl lg:text-2xl font-bold pb-3">2. 一般的な条件</p>
            <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold">
                当社は、いつでも誰に対しても、いかなる理由でもサービスを拒否する権利を有しています。お客様は、お客様のコンテンツ(クレジットカード情報を含みません)が暗号化されずに転送され、(a)さま ざまなネットワークを介した転送、(b)接続するネットワークや機器の技術的要件に適合させるための変更 を伴う場合があることを理解しているものとします。クレジットカード情報は、ネットワーク上の転送時に常 に暗号化されます。お客様は、当社の書面による明示的な許可なく、本サービスの一部、本サービスの利用、本サービスへ のアクセスまたは本サービスが提供されているウェブサイトの連絡先を複製、複写、コピー、販売、再販ま たはサービスの任意の部分を悪用しないことに同意するものとします。本規約で使用されている見出しは、便宜上含まれているものであり、本規約を制限したり、その他の形で 影響を与えるものではありません。
            </p>
        </div>
        <div class="my-4">
            <p class="text-base md:text-xl lg:text-2xl font-bold pb-3">3. 情報の正確性、完全性、適時性</p>
            <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold">
                本サイトで利用可能な情報が正確、完全または最新でない場合、当社は責任を負いません。本サイトの 資料は、一般的な情報としてのみ提供されており、より正確で、より完全で、よりタイムリーな情報源に相 談することなく、意思決定の唯一の根拠として依拠したり、使用したりしてはいけません。本サイト上の資 料への依存は、お客様ご自身の責任において行われるものとします。このサイトには、特定の歴史的情報が含まれている場合があります。歴史的な情報は、必然的に最新の ものではなく、お客様の参考のためにのみ提供されます。当社は、本サイトの内容をいつでも変更する権 利を留保しますが、本サイトのいかなる情報も更新する義務はありません。お客様は、当サイトの変更を 監視することがお客様の責任であることに同意するものとします。
            </p>
        </div>
        <div class="my-4">
            <p class="text-base md:text-xl lg:text-2xl font-bold pb-3">4. サービスと価格の変更 </p>
            <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold">
                当社製品の価格は、予告なく変更されることがあります。当社は、いつでも予告なしに、本サービス(またはその一部やコンテンツ)を変更または中止する権利を 有します。当社は、本サービスの変更、価格変更、停止または中止について、お客様または第三者に対して責任を 負わないものとします。
            </p>
        </div>
        <div class="my-4">
            <p class="text-base md:text-xl lg:text-2xl font-bold pb-3">5. 製品またはサービス(該当する場合)</p>
            <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold">
                一部の製品またはサービスは、本ウェブサイトを通じてオンラインでのみご購入いただけます。これらの 商品またはサービスは、数量が限られている場合があり、当社の「返品規定」に従ってのみ返品または交 換が可能です。私たちは、店頭で表示される商品の色やイメージをできるだけ正確に表示するように努めています。しか し、お客様がお使いのパソコンのモニターに表示される色が正確であることを保証するものではありませ ん。当社は、いかなる個人、地理的地域または管轄権に対しても、当社製品またはサービスの販売を制限す る権利を留保しますが、義務ではありません。当社は、この権利をケースバイケースで行使することがあります。当社は、当社が提供するあらゆる製品 またはサービスの数量を制限する権利を有します。すべての製品の説明または製品の価格は、予告なし に、当社の独自の裁量でいつでも変更されることがあります。また、当社は、いつでもいかなる製品も中 止する権利を有します。本サイト上で行われるいかなる製品またはサービスの提供も、禁止されている地 域では無効です。当社は、お客様が購入または取得した製品、サービス、情報、その他の資料の品質がお客様の期待に 沿うものであること、および本サービスのエラーが修正されることを保証しません。
            </p>
        </div>
        <div class="my-4">
            <p class="text-base md:text-xl lg:text-2xl font-bold pb-3">6. 請求書およびアカウント情報の正確性</p>
            <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold">
                当社は、お客様が当社に発注したいかなる注文も拒否する権利を有します。当社は、独自の裁量により、 1人、1世帯、または1回の注文ごとに購入数量を制限または取り消すことができます。これらの制限に は、同一の顧客アカウントまたは同一のクレジットカード、および/または同一の請求先住所/発送先住 所を使用した注文が含まれる場合があります。注文を変更またはキャンセルする場合、当社は、注文時に提供された電子メールおよび/または請求書 送付先の住所/電話番号に連絡して、お客様に通知するよう努めることがあります。当社は、独自の判断により、ディーラー、再販業者、販売業者によるものと思われる注文を制限または禁 止する権利を有します。お客様は、当店で購入されるすべての商品について、現在の完全かつ正確な購入情報およびアカウント 情報を提供することに同意します。お客様は、当社がお客様の取引を完了し、必要に応じてお客様に連 絡できるように、お客様の電子メールアドレス、クレジットカード番号および有効期限を含むお客様のアカ ウントおよびその他の情報を速やかに更新することに同意します。詳しくは「返品ポリシー」をご覧ください。
            </p>
        </div>
        <div class="my-4">
            <p class="text-base md:text-xl lg:text-2xl font-bold pb-3">7. オプションツール</p>
            <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold">
                当社は、当社が監視も制御も入力も行わない第三者のツールへのアクセスをお客様に提供することがあります。お客様は、当社がそのようなツールへのアクセスを、いかなる種類の保証、表明、条件もなく、「現状のま ま」かつ「利用可能な状態で」提供し、いかなる裏付けもないことを認め、同意します。当社は、お客様が サードパーティのオプションツールを使用したことに起因または関連する一切の責任を負いません。本サイトを通じて提供される任意のツールの使用は、すべてお客様自身の責任と判断によるものであり、 お客様は、関連するサードパーティプロバイダが提供するツールの条件を熟知し、これを承認する必要が あります。また、将来的には、ウェブサイトを通じて新しいサービスおよび/または機能を提供することがあります (新しいツールやリソースの公開を含みます)。そのような新しい機能やサービスも、本利用規約の対象と なります。
            </p>
        </div>
        <div class="my-4">
            <p class="text-base md:text-xl lg:text-2xl font-bold pb-3">8. サードパーティのリンク</p>
            <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold">
                本サービスを通じて利用可能な一部のコンテンツ、製品およびサービスには、、サードパーティの資料が含まれている場合があります。本サイトのサードパーティリンクは、当社とは関係のないサードパーティのウェブサイトに誘導する場合が あります。当社は、その内容や正確性を調査または評価する責任を負わず、第三者の資料やウェブサイト、または 第三者のその他の資料、製品、サービスについて保証せず、一切の責任を負いません。当社は、サードパーティのウェブサイトに関連して行われた商品、サービス、リソース、コンテンツ、または その他の取引の購入または使用に関連して生じたいかなる損害または損失に対しても責任を負いませ ん。取引を行う前に、サードパーティの方針および慣行をよく確認し、理解しておいてください。サードパー ティの製品に関する苦情、クレーム、懸念、または質問は、そのサードパーティに直接行ってください。
            </p>
        </div>
        <div class="my-4">
            <p class="text-base md:text-xl lg:text-2xl font-bold pb-3">9. ユーザーのコメント、フィードバック、その他の提出</p>
            <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold">
                お客様は、当社の要請に基づき、特定の提出物(例えば、コンテストへの応募)を送付された場合、また は当社の要請によらずに、創造的なアイデア、提案、企画、その他の資料を、オンライン、電子メール、郵 便、その他の方法で送付された場合(以下、総称して「コメント」といいます)、お客様は、当社が、いつで も、制限なく、お客様が当社に送付されたコメントを編集、コピー、出版、配布、翻訳、その他の媒体で使 用できることに同意されたものとします。当社は、(1)コメントの機密保持、(2)コメントに対する対価の支払 い、(3)コメントへの回答、のいずれの義務も負いません。当社は、違法、攻撃的、脅迫的、名誉毀損、中傷的、ポルノ的、わいせつ、その他好ましくないと当社が 独自の裁量で判断したコンテンツや、他者の知的財産権または本利用規約に違反するコンテンツを監 視、編集、削除することができますが、その義務はありません。お客様は、お客様のコメントが、著作権、商標権、プライバシー権、人格権、その他の個人的または所有 権を含む第三者の権利を侵害しないことに同意するものとします。さらに、お客様は、お客様のコメント に、中傷的なもの、その他の違法なもの、罵倒的なもの、わいせつなものを含まないこと、また、本サービ スまたは関連するウェブサイトの運営に何らかの影響を与える可能性のあるコンピュータウィルスまたは その他のマルウェアを含まないことに同意します。お客様は、偽の電子メールアドレスを使用したり、ご自 身以外の人物になりすましたり、あるいはコメントの出所について当社または第三者を欺くような行為をし てはなりません。お客様は、ご自身で作成されたコメントとその正確性について単独で責任を負います。 当社は、お客様または第三者が投稿したコメントについて、いかなる責任も負いません。
            </p>
        </div>
        <div class="my-4">
            <p class="text-base md:text-xl lg:text-2xl font-bold pb-3">10. 個人情報</p>
            <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold">
                お客様が当ストアを通じて個人情報を送信される際には、当社のプライバシーポリシーが適用されます。
            </p>
        </div>
        <div class="my-4">
            <p class="text-base md:text-xl lg:text-2xl font-bold pb-3">11. エラー、不正確さ、脱落</p>
            <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold">
                折、当サイトまたは本サービスにおいて、製品の説明、価格、プロモーション、オファー、製品の配送 料、輸送時間、在庫状況に関連して、誤字、不正確さ、または脱落を含む情報があります。当社は、事前 に通知することなくいつでも(お客様が注文を送信した後も含めて)、誤り、不正確さまたは省略を修正し、 本サービスまたは関連ウェブサイトの情報が不正確な場合には、情報を変更または更新し、注文を取り 消す権利を有します。弊社は、法律で義務付けられている場合を除き、価格情報を含むがこれに限定されない、本サービスま たは関連するウェブサイト上の情報を更新、修正または明確にする義務を負いません。本サービスまたは関連ウェブサイト上で適用される特定の更新日またはリフレッシュ日は、本サービスま たは関連ウェブサイト上のすべての情報が修正または更新されたことを示すとみなされるべきではありません。
            </p>
        </div>
        <div class="my-4">
            <p class="text-base md:text-xl lg:text-2xl font-bold pb-3">12. 禁止されている用途 </p>
            <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold">
                利用規約に記載されているその他の禁止事項に加えて、お客様が本サイトまたはそのコンテンツを使用することは禁止されています。(a)違法な目的で使用すること(b)違法な行為の実行または参加を他者に勧誘すること (c)国際的、連邦的、州的な規制、規則、法律、または地域の条例に違反すること (d)当社の知的財産権または他者の知的財産権を侵害または違反すること (e)性別、性的指向、宗教、民族、人種、年齢、国籍、障害の有無に基づく嫌がらせ、虐待、侮辱、危害、 中傷、蔑視、脅迫、または差別を行うこと(f)虚偽または誤解を招くような情報を提出すること (g)本サービス、関連するウェブサイト、他のウェブサイト、またはインターネットの機能や運営に影響を与 えるような方法で使用される、または使用される可能性のあるウイルスやその他の種類の悪意のある コードをアップロードまたは送信すること(h)他人の個人情報を収集または追跡すること (i)スパム、フィッシング、ファーミング、プレテクスト、スパイダー、クローリング、スクレイピング (j)猥褻または不道徳な目的 (k)本サービスまたは関連するウェブサイト、その他のウェブサイト、インターネットのセキュリティ機能を 妨害または回避すること禁止事項に違反した場合、当社はお客様の本サービスまたは関連ウェブサイトの利用を終了させる権利 を有します。
            </p>
        </div>
        <div class="my-4">
            <p class="text-base md:text-xl lg:text-2xl font-bold pb-3">13. 保証の否認、責任の制限 /p>
            <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold">
                当社は、お客様による当社サービスの利用が、中断されず、タイムリーで、安全で、エラーのないものであることを保証、表明、または担保しません。また、当社は、本サービスの利用により得られる結果が正確であること、または信頼できるものであること を保証しません。お客様は、当社が随時、お客様に通知することなく、無期限にサービスを削除したり、サービスを中止した りすることに同意するものとします。お客様は、本サービスの利用または利用できないことが、お客様ご自身の責任であることに明示的に同 意されたものとします。本サービスおよび本サービスを通じてお客様に提供されるすべての製品および サービスは、(当社が明示的に記載した場合を除き)お客様の使用のために「現状のまま」かつ「利用可 能な状態」で提供され、明示的または黙示的を問わず、商品性、商品的品質、特定目的への適合性、耐 久性、権原、および非侵害に関するすべての黙示的な保証または条件を含む、いかなる種類の表明、保 証または条件もありません。いかなる場合においても、当社の取締役、役員、従業員、関連会社、代理人、契約者、インターン、サプラ イヤー、サービスプロバイダー、ライセンサーは、契約、不法行為(過失を含む)、厳格な責任、またはそ の他に基づいているかどうかにかかわらず、傷害、損失、請求、または直接的、間接的、偶発的、懲罰 的、特別、または結果的な損害(利益損失、収益損失、貯蓄損失、データ損失、交換コスト、またはその 他の類似の損害を含むがこれらに限定されない)について責任を負いません。お客様による本サービス もしくは本サービスを利用して調達した製品の利用に起因するもの、またはお客様による本サービスもし くは本製品の利用に何らかの形で関連するその他の請求(コンテンツの誤りもしくは脱落、または本サー ビスもしくは本サービスを通じて投稿、送信、もしくはその他の方法で利用可能となったコンテンツ(もしく は製品)の利用の結果生じたあらゆる種類の損失もしくは損害を含みますが、これらに限定されませ ん)。一部の都道府県または法域では、結果的または偶発的な損害に対する責任の除外または制限が認めら れていないため、そのような都道府県または法域では、当社の責任は法律で認められる最大限の範囲に 制限されるものとします。
            </p>
        </div>
        <div class="my-4">
            <p class="text-base md:text-xl lg:text-2xl font-bold pb-3">14. 補償</p>
            <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold">
                お客様は、お客様が本利用規約または本利用規約が参照する文書に違反したことに起因して、あるいは お客様が何らかの法律または第三者の権利に違反したことに起因して、サードパーティから提起された 合理的な弁護士費用を含むあらゆる請求または要求から、当社および当社の親会社、子会社、関連会社、パートナー、役員、取締役、代理人、契約者、ライセンサー、サービスプロバイダー、下請業者、サプ ライヤー、インターンおよび従業員を補償し、擁護し、免責することに同意するものとします。
            </p>
        </div>
        <div class="my-4">
            <p class="text-base md:text-xl lg:text-2xl font-bold pb-3">15. 分離可能性</p>
            <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold">
                本利用規約のいずれかの条項が違法、無効または執行不能と判断された場合でも、当該条項は適用法 で認められる最大限の範囲で執行可能であり、執行不能部分は本利用規約から切り離されたものとみな されますが、当該判断は残りの条項の有効性および執行可能性に影響を与えません。
            </p>
        </div>
        <div class="my-4">
            <p class="text-base md:text-xl lg:text-2xl font-bold pb-3">16. 終了</p>
            <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold">
                終了日前に発生した当事者の義務および負債は、あらゆる目的のために本契約の終了後も存続するものとします。本利用規約は、お客様または当社のいずれかによって終了されない限り、また終了するまで有効です。 お客様は、本サービスの利用を希望しない旨を当社に通知することにより、または当社サイトの利用を中 止することにより、いつでも本利用規約を終了することができます。お客様が本利用規約のいずれかの条項を遵守していない、または遵守していない疑いがあると当社が 判断した場合、当社は本利用規約を予告なしにいつでも終了させることができ、お客様は終了日までに 支払うべきすべての金額について責任を負うものとします。また、お客様が本サービスにアクセスすること を拒否することもできます。
            </p>
        </div>
        <div class="my-4">
            <p class="text-base md:text-xl lg:text-2xl font-bold pb-3">17. 完全合意 </p>
            <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold">
                当社が本利用規約のいずれかの権利または条項を行使または執行しなかった場合でも、当該権利または条項を放棄したことにはなりません。本利用規約および本サイトまたは本サービスに関連して当社が掲載するポリシーや運用ルールは、お客 様と当社との間の完全な合意および理解を構成し、お客様による本サービスの利用を規定するものであ り、口頭か書面かを問わず、お客様と当社との間のあらゆる事前または同時の合意、コミュニケーション、 提案(本利用規約の過去のバージョンを含むがこれに限定されない)に優先します。本利用規約の解釈に曖昧な点があっても、起草者に不利に解釈されることはありません。
            </p>
        </div>
        <div class="my-4">
            <p class="text-base md:text-xl lg:text-2xl font-bold pb-3">18. 準拠法</p>
            <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold">
                本利用規約および当社がお客様にサービスを提供するための個別契約は、日本国の法律に準拠して解釈されます。
            </p>
        </div>
        <div class="my-4">
            <p class="text-base md:text-xl lg:text-2xl font-bold pb-3">19. 利用規約の変更 </p>
            <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold">
                お客様は、このページでいつでも最新の利用規約を確認することができます。当社は、独自の裁量により、当社のウェブサイトに更新や変更を掲載することで、本利用規約の一部を更 新、変更または置換する権利を有します。お客様は、当社のウェブサイトに変更がないか定期的に確認 する責任があります。本利用規約の変更が掲載された後も、お客様が当社のウェブサイトまたは本サー ビスを継続して使用またはアクセスされた場合は、それらの変更を受け入れたものとみなされます。
            </p>
        </div>
        <div class="my-4">
            <p class="text-base md:text-xl lg:text-2xl font-bold pb-3">20. 連絡先情報</p>
            <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold">
                利用規約に関するご質問は、customer@wealthy-store.comまでお寄せください。
            </p>
        </div>
    </div>
</div>