<div class="pt-24 md:pt-36 mx-8 md:mx-16 lg:mx-24">
    <div class="max-w-4xl mx-auto mb-24 md:mb-36 ">
        <h3 class="text-xl md:text-3xl lg:text-4xl text-center font-bold mb-8">利用規約</h3>
        <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold pt-4">このWebサイトは、WealthyStoreによって運営されています。サイト全体で、「私たち」という用語 は、WealthyStoreを指します。WealthyStoreは、このサイトから提供されるすべての情報、 ツール、サービスを含め、このWebサイトを提供しています。ユーザーは、ここに記載されているすべての 条件、ポリシー、および通知に同意することを条件とします。</p>
        <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold ">当社のサイトにアクセスしたり、当社から何かを購入したりすることにより、お客様は当社の「サービス」に 従事し、以下の利用規約(「サービス条件」、「規約」)に拘束されることに同意します。これには、本サイト で参照されている、またはハイパーリンクで利用可能な追加の条件および方針が含まれます。本利用規 約は、本サイトのすべてのユーザーに適用されます。</p>
        <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold ">当社のウェブサイトにアクセスまたは利用する前に、本利用規約をよくお読みください。本サイトのいずれ かの部分にアクセスまたは使用することにより、お客様は本利用規約に拘束されることに同意したことに なります。本利用規約のすべての条項に同意されない場合は、ウェブサイトにアクセスしたり、いかなる サービスも利用することはできません。本サービス条件が申し出とみなされる場合、受け入れは本サービ ス条件に明示的に限定されます。</p>
        <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold pb-4">現在のストアに追加される新機能やツールにも利用規約が適用されるものとします。 利用規約の最新版 は、このページでいつでも確認することができます。 当社は、本利用規約の更新および/または変更を当 社のウェブサイトに掲載することにより、本利用規約の一部を更新、変更または置換する権利を留保しま す。 このページを定期的にチェックして変更を確認するのはお客様の責任です。 変更の掲載後、お客様 が継続して本ウェブサイトを利用またはアクセスされた場合、それらの変更を受諾されたものとします。

            私たちのストアはShopify Inc.でホストされています。彼らは、私たちが製品やサービスをお客様に販売 するためのオンラインEコマースプラットフォームを提供しています。</p>
        <div class="my-4">
            <p class="text-base md:text-xl lg:text-2xl font-bold pb-3">1. 個人情報の定義</p>
            <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold">本プライバシーポリシーにおいて、個人情報とは、個人情報保護法第2条第1項により定義された個人情 報、すなわち、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述 等により特定の個人を識別することができるもの(他の情報と容易に照合することができ、それにより特 定の個人を識別することができることとなるものを含みます。)、もしくは個人識別符号が含まれる情報を 意味するものとします。</p>
        </div>
        <div class="my-4">
            <p class="text-base md:text-xl lg:text-2xl font-bold pb-3"></p>
            <p class="text-sm md:text-lg lg:text-xl text-gray-700 font-bold">
                
            </p>
        </div>
        
    </div>
</div>