<div class="w-full h-[350px] md:h-[450px]">
    <img src={} alt="">
</div>

{% schema %}
{
    "name": "Top Contexts",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "limit": 3
        }
    ],
    "presets":[
        {
            "name": "Top Contents"
        }
    ]
}
{% endschema %}