
<div class="mx-8 py-12 md:py-24">
    <div class="max-w-6xl  mx-auto">
        <p class="text-center font-montserrat_bold text-4xl">YouTube</p>
        <div class="h-2 w-full bg-black mx-4 my-4"></div>
        <div class="h-[315px] md:h-[525px] mx-auto px-4 ">
            <iframe class="w-full h-full" src="https://www.youtube.com/embed/{{ section.settings.video_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Video Player",
    "settings": [
        {
            "type":"text",
            "id":"video_id",
            "label": "Youtube Video ID"
        }
    ],
    "presets": [
        {
            "name":"Video Player"
        }
    ]
}
{% endschema %}