<div class="shopify-challenge__container"> {% comment %} <--- conent_for_layout IS the captcha form in this context {% endcomment %}
    {{ content_for_layout }}
    <style>
        /* NOTE: these classes are subject to change at any time... since they are injected by shopify / google captcha
        */
        .shopify-challenge__container {
        
        }
        .shopify-challenge__container {
            
        }
        .shopify-challenge__message {
        
        }
        .shopify-challenge__container .shopify-challenge__button btn{
        
        }
        #g-recapthca {
            background-color: black;
        }
    </style>
    <script>
        $('shopify-challenge__message').text('Custom message or');
    </script>
</div>