<div class="some-wrapper-around-challen"> {% comment %} <--- conent_for_layout IS the captcha form in this context {% endcomment %}
    {{ content_for_layout }}
    <style>
        .shopify-challenge__container {
            padding: 12rem 2rem;
            background-color: gray;
        }
        .shopify-challenge__container {
            
        }
        .shopify-challenge__message {
            font-size: medium;
            font-weight: bold;
            padding-bottom: 1rem;
        }
        .shopify-challenge__container .shopify-challenge__button btn {
            background-color: black;
        }
        #g-recapthca {
            background-color: black;
        }
    </style>
    Hello World
</div>